.checkout {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;

  .checkoutContent {
    width: 65%;
    background-color: rgb(243, 240, 240);
    margin: 0 auto;
    border-radius: 8px;
    padding: 5px 20px;
    box-shadow: 0px 2px 2px 3px rgb(231, 214, 214);

    @media screen and (max-width: 500px) {
      width: 90%;
      box-shadow: 0px 1px 1px 2px rgb(231, 214, 214);
    }

    h3 {
      font-size: 1.25rem;
      letter-spacing: 1.4px;
    }
    .checkoutHeader {
      display: flex;
      justify-content: space-between;

      .headerBlock {
        text-transform: capitalize;
        width: 23%;
        font-size: 1.12rem;

        &:last-child {
          width: 9%;
        }
      }
    }
    .total {
      margin-top: 30px;
      font-size: 1.5rem;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;

      button {
        margin-top: 18px;
      }
    }
  }
  .creditCard {
    text-align: center;
    margin-top: 20px;

    p {
      color: red;
      font-size: 1.123rem;
      letter-spacing: 1.4px;
    }
  }
}
