@import "../../scss/colors";

footer {
  width: 100%;
  border-top: 1px solid black;

  p {
    font-family: "Poppins", sans-serif;
    color: #858585;
    letter-spacing: 1.3px;
    font-size: 0.94rem;
    font-weight: lighter;
    margin: 0;
  }

  .footerContent {
    width: 95%;
    margin: 30px auto 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }

    .about {
      li {
        list-style: none;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1.4px;
        margin-top: 15px;
        a {
          color: black;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: $btn-primary;
          }
        }
      }
    }
    .products {
      li {
        list-style: none;
        font-family: "Poppins", sans-serif;
        color: black;
        letter-spacing: 1.4px;
        margin-top: 5px;
        cursor: pointer;
        font-weight: lighter;

        &:first-child {
          font-weight: 600;
        }
        a {
          color: black;
          cursor: pointer;
        }
      }
    }
    .map {
      grid-column-end: span 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media screen and (max-width: 500px) {
        align-items: flex-start;
        margin-top: 30px;
        margin-left: 30px;
      }

      h2 {
        float: right;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin: 0;
      }
      .subscribe {
        position: relative;
        width: 74%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        .group {
          width: 54%;
        }
        button {
          @media screen and (max-width: 500px) {
            padding: 0px 15px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .socialContent {
    min-height: 80px;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

    .socialIcons {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media screen and (max-width: 500px) {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 70px;
      }

      .creditCards {
      }
      .terms {
        display: flex;
        justify-content: space-between;
      }
      .icons {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 500px) {
          justify-content: center;
        }
        a {
          color: #858585;
        }
        &:first-child {
          margin-right: 50px;
        }
      }
    }
  }
}
