.slideImage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    width: 30%;
    text-align: center;
    padding: 0 20px 20px 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.75);
    
    h1 {
      font-size: 1.75rem;
      letter-spacing: 1.7px;
      color: white;
      line-height: 1.3;
      font-weight: lighter;
      text-transform: capitalize;
    }

    p {
      font-size: 1rem;
      letter-spacing: 1.7px;
      color: white;
      font-weight: lighter;
    }

    button {
      font-size: 1rem;
      padding: 10px 25px;
      border: none;
      color: white;
      background-color: #488169;
      cursor: pointer;
    }
  }
}

.indicators {
  justify-content: flex-end !important;
  margin-top: -5px !important;
  z-index: 100 !important;
  position: absolute !important;
  right: 2.5%;
  top: 94%;

  li {
    margin-right: 10px !important;

    .each-slideshow-indicator {
      &::before {
        background: #eee !important;
        padding: 2.35px;
      }
    }
  }
}

.image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/slide-6.jpg");
  background-size: cover;
  background-position: center;
}
.image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/slide-7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/slide-5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
