@import "../../scss/colors";

.stripeButton {
  font-size: .9rem;
  border: none;
  background-color: $btn-primary;
  letter-spacing: 1.2px;
  padding: 8px 23px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border-width: 2px;
  border-color: $btn-primary;

  &:hover {
    background-color: $btn-primary--hover;
  }
}
