.drink {
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #eee;
  transition: 0.9s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  overflow: hidden;

  &:focus-within ~ .drink,
  &:hover ~ .drink {
    transform: translateX(130px);
  }

  &:not(:first-child) {
    margin-left: -130px;
  }

  .drinkImage {
    height: 355px;
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0px;
    position: relative;

    &:hover {
      transform: scale(1.1);
      transition: transform 10s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .addToCart {
    position: absolute;
    opacity: 0.8;
    bottom: 0px;
    
    font-size: 0.85rem;
    border: none;
    visibility: hidden;
    height: 50px;
    background: black;
    color: white;
    height: 0px;
    width: 100%;
    transition: height 1.35s;
    cursor: pointer;
  }

  .drinkInfo {
    background-color: rgb(48, 47, 47);
    padding-top: 15px;
    border-radius: 0 0 16px 16px;

    h3 {
      font-size: 1.23rem;
      font-weight: lighter;
      padding: 0px 8px;
      color: white;
      cursor: pointer;
      margin: 0;
      background: linear-gradient(
        to right,
        #fff 20%,
        #ff8a00 40%,
        #e52e71 60%,
        #fff 80%
      );
      background-size: 200% auto;
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      animation: shine 2.5s linear infinite;

      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
    }

    p {
      color: white;
      font-size: 1.123rem;
    }
    .price {
      display: flex;
      justify-content: space-between;
      width: 95%;
      padding: 0 8px;
    }
  }
  &:hover {
    .addToCart {
      height: 55px;
      visibility: visible;
      letter-spacing: 1.4px;
    }
  }
}
