@import "../../scss/colors";

.customButton {
  color: #fff;
  border-color: $btn-primary;
  background-color: $btn-primary;
  border-width: 2px;
  padding: 15px 30px;
  letter-spacing: 1.3px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  
  &:hover {
    background-color: $btn-primary--hover;
  }
}
