.customButton {
  color: #fff;
  border-color: #488169;
  background-color: #488169;
  border-width: 2px;
  padding: 15px 30px;
  letter-spacing: 1.3px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
